USE [master]
GO
/****** Object:  Database [BIBLIOTECA2020]    Script Date: 23/04/2020 23:03:20 ******/
CREATE DATABASE [BIBLIOTECA2020]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BIBLIOTECA2020', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BIBLIOTECA2020.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BIBLIOTECA2020_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\BIBLIOTECA2020_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BIBLIOTECA2020].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BIBLIOTECA2020]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 23/04/2020 23:03:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](35) NOT NULL,
	[curso] [varchar](25) NULL,
	[dias] [int] NULL,
	[multa] [float] NULL,
 CONSTRAINT [PK_Clientes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Emprestimo]    Script Date: 23/04/2020 23:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprestimo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clienteID] [int] NULL,
	[data] [datetime] NULL,
 CONSTRAINT [PK_Emprestimo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Itens]    Script Date: 23/04/2020 23:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Itens](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[emprestimoID] [int] NULL,
	[livroID] [int] NULL,
	[entrega] [datetime] NULL,
 CONSTRAINT [PK_Itens] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Livros]    Script Date: 23/04/2020 23:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livros](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[titulo] [nchar](35) NULL,
	[editora] [nchar](20) NULL,
	[autor] [nchar](30) NULL,
	[valor] [real] NULL,
	[situacao] [tinyint] NULL,
 CONSTRAINT [PK_Livros] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([id], [nome], [curso], [dias], [multa]) VALUES (1, N'Almir', N'TPD', 0, 0)
INSERT [dbo].[Clientes] ([id], [nome], [curso], [dias], [multa]) VALUES (2, N'Diomara', N'TPD', 0, 0)
SET IDENTITY_INSERT [dbo].[Clientes] OFF
SET IDENTITY_INSERT [dbo].[Livros] ON 

INSERT [dbo].[Livros] ([id], [titulo], [editora], [autor], [valor], [situacao]) VALUES (1, N'Poeira em Alto mar                 ', N'Camolesi            ', N'Almir                         ', 12, 1)
SET IDENTITY_INSERT [dbo].[Livros] OFF
ALTER TABLE [dbo].[Emprestimo]  WITH CHECK ADD  CONSTRAINT [FK_Emprestimo_Clientes] FOREIGN KEY([clienteID])
REFERENCES [dbo].[Clientes] ([id])
GO
ALTER TABLE [dbo].[Emprestimo] CHECK CONSTRAINT [FK_Emprestimo_Clientes]
GO
ALTER TABLE [dbo].[Itens]  WITH CHECK ADD  CONSTRAINT [FK_Itens_Emprestimo] FOREIGN KEY([emprestimoID])
REFERENCES [dbo].[Emprestimo] ([id])
GO
ALTER TABLE [dbo].[Itens] CHECK CONSTRAINT [FK_Itens_Emprestimo]
GO
ALTER TABLE [dbo].[Itens]  WITH CHECK ADD  CONSTRAINT [FK_Itens_Livros] FOREIGN KEY([livroID])
REFERENCES [dbo].[Livros] ([id])
GO
ALTER TABLE [dbo].[Itens] CHECK CONSTRAINT [FK_Itens_Livros]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'ESTE CAMPO GUARDA O VALOR DA MULTA. ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'multa'
GO
USE [master]
GO
